.fddiv{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  margin-left:40px;
    padding:30px;
    background-color: rgb(255, 19, 10);
    border-radius:20px
}
label{
    color:white
}
.hhhdiv{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size:40px
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500&family=Nunito&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');